html,
body {
  overflow: hidden;
  background-color: #9c3cac;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 425px;
  border: 10px solid #73bfb5;
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #e6f0e6;
  z-index: 10;
}

.card .text-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  font-family: "Nobile", sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: "Nobile";
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid #73bfb5;
  backface-visibility: hidden;
  background-color: #73a3bf;
  /* background-image: url($cover-image); */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  z-index: 100001
}

/* .card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d;
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #d2dcd2;
} */

.card div.front-open {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d;
}

.card div.back-open {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #d2dcd2;
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #73bfb5;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: #e6f0e6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 100000
}

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
  /* transform: rotateZ(45deg); */
}

.cover-shape-large .shape-block,
.cover-shape-large .shape-diamond {
  background-color: #73bf8f;
}

.cover-shape-small {
  position: absolute;
  width: 50%;
  height: 36%;
  top: 30%;
  left: 25%;
}

@keyframes cakeShake {
    0%   {top: 0px;  box-shadow: 0px 2px 10px 2px #6e6666;}
    25%  {top: -2px; box-shadow: 0px 5px 10px 3px #6e6666;}
    50%  {top: -15px; box-shadow: 0px 7px 10px 5px #6e6666;}
    75%  {top: -2px;  box-shadow: 0px 5px 10px 3px #6e6666;}
    100% {top: 0px;  box-shadow: 0px 2px 10px 2px #6e6666;}
}

.cake-block{
    animation-name: cakeShake;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.click-here{
    text-align: center;
    margin-top: 30px;
}

.click-here span{
    background: white;
    padding: 5px;
    border-radius: 12px;
    font-family: arial;
    font-size: 14px;
    color: #3c3c3c;
    background: #f4d9f8;
}

.shape-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#shape-image {
  background-image: url("http://freedesignfile.com/upload/2013/02/Birthday-cake-vector-4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shape-diamond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: rotateZ(45deg);
}

/* cake animation stuff from: https://codepen.io/WithAnEs/pen/OVZRvg
   not created by me! It's by Mark Thomes.
*/
.cake {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 45%;
  left: 50%;
  margin-top: -28px;
  margin-left: -50px;
}

.cake > * {
  position: absolute;
  /* backface-visibility: hidden; */
}

.layer {
  position: absolute;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: #553c13;
  box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
}

.layer-top {
  top: 0px;
}

.layer-middle {
  top: 13.2px;
}

.layer-bottom {
  top: 26.4px;
}

.icing {
  top: 0.8px;
  left: 2px;
  background-color: #f0e4d0;
  width: 96px;
  height: 36px;
  border-radius: 50%;
}
.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f4ebdc;
  box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
  border-radius: 50%;
  /* z-index: 1; */
}

.drip {
  display: block;
  width: 20px;
  height: 24px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0;
}

.drip1 {
  top: 22px;
  left: 2px;
  transform: skewY(15deg);
  height: 19.2px;
  width: 16px;
}

.drip2 {
  top: 30px;
  left: 72.4px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 33.6px;
  left: 36px;
  width: 32px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #bf737d;
  width: 6.4px;
  height: 20px;
  border-radius: 8px/4px;
  top: -8px;
  left: 50%;
  margin-left: -3.2px;
  /* z-index: 10; */
}
.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6.4px;
  height: 3.2px;
  border-radius: 50%;
  background-color: #cf969e;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 6px;
  height: 14px;
  border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
  top: -13.6px;
  left: 50%;
  margin-left: -3px;
  /* z-index: 10; */
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
  0% {
    /* transform: rotateZ(5deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    /* transform: rotateZ(-5deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    /* transform: rotateZ(10deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    /* transform: rotateZ(-10deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    /* transform: rotateZ(5deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}


@font-face {
    font-family: Cookie;
    src: url(Pacifico-Regular.ttf);
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.candle-container, .plate, .wrapper {
  display: grid;
  place-items: center;
}

.wrapper {
  position: relative;
  margin-top: 170px;
}

.greeting {
  font-family: "Cookie", cursive;
  font-size: 30px;
  color: #444;
  transform: scale(0);
  text-align: center;
  margin-top: 10px;
}

.message {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  color: #777;
}

.plate {
  position: relative;
  width: 200px;
  height: 75px;
  background: #f1f1f1;
  margin-top: 0;
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0px #aaa;
}

.cake-wrap {
  position: absolute;
  bottom: 50%;
}

.cake-base {
  position: relative;
  width: 150px;
  height: 50px;
  background: #c5a5c0;
}
.cake-base .base-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
}
.cake-base .base-front:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 55px;
  transform: translatey(-50%);
  background: inherit;
  border-radius: 50%;
}
.cake-base .base-top {
  position: absolute;
  width: 100%;
  height: 65px;
  top: 0;
  transform: translatey(-50%);
  border-radius: 50%;
  background: inherit;
}
.cake-base .base-top:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(0 0, 0% 50%, 100% 50%, 100% 0);
}
.cake-base .base-top:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom-color: black;
  clip-path: polygon(0 50%, 60% 50%, 60% 101%, 0 101%);
}

.cake-topping {
  position: absolute;
  bottom: 0%;
  width: 150px;
  height: 75px;
  z-index: 99;
}
.cake-topping .topping-front {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #b381ae 40%, transparent);
}
.cake-topping .topping-front .top-layer {
  height: 30%;
  background: #b381ae;
}
.cake-topping .topping-front .bottom-layer {
  position: relative;
  height: 70%;
  background: #b381ae;
  clip-path: url("#my-clip-path");
}
.cake-topping .topping-top {
  background: #b381ae;
  position: absolute;
  width: 100%;
  height: 65px;
  top: 0;
  transform: translatey(-50%);
  border-radius: 50%;
  z-index: 9;
}
.cake-topping .topping-top:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(0 0, 0% 50%, 100% 50%, 100% 0);
}
.cake-topping .topping-top:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 -1px 1px 2px rgba(200, 169, 195, 0.5);
  clip-path: polygon(10% 50%, 70% 50%, 70% 101%, 10% 101%);
}

.candle-container {
  width: 150px;
  position: absolute;
  bottom: 60%;
  z-index: 9999;
  opacity: 0;
}
.candle-container .candle-wrap {
  position: relative;
  width: 15px;
}
.candle-container .flame-wrap {
  position: relative;
  z-index: 99;
  width: 100%;
  background: #fcc56c;
  height: 30px;
  transform-origin: bottom center;
  transform: scale(0);
  clip-path: url(#my-flame-path);
}
.candle-container .candle-top {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(-50%);
  width: 100%;
  height: 8px;
  background: white;
  border-radius: 50%;
  z-index: 9;
  background: radial-gradient(#eee, #f0abf0);
}
.candle-container .candle-base {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 2px 0;
  background: repeating-linear-gradient(45deg, #eee, #f0abf0 20%);
}
.candle-container .candle-base:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #eee;
  transform: translateY(50%);
  height: 5px;
  width: 100%;
  z-index: -1;
  border-radius: 50%;
}
.candle-container .candle-base:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  height: 10px;
  width: 200%;
  border-radius: 50%;
  background: radial-gradient(#9e7199, #b381ae);
  z-index: -2;
}
.candle-container .star {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: orange;
  clip-path: url(#my-star-path);
  opacity: 0;
}
.candle-container .star:nth-of-type(1) {
  top: -20%;
  left: 30%;
}
.candle-container .star:nth-of-type(2) {
  top: 30%;
  left: 10%;
}
.candle-container .star:nth-of-type(3) {
  top: -10%;
  left: 85%;
}
.candle-container .star:nth-of-type(4) {
  top: 35%;
  left: 65%;
}
.candle-container .star:nth-of-type(5) {
  top: 55%;
  left: 90%;
}

.wonderful{
    text-align: center;
    transform: scale(0);
    margin-top: 20px;
    font-family: "Cookie", cursive;
}

.canvas{
    background:transparent;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.fireworks > .before, .fireworks > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }
  
.fireworks > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; 
}

  @-webkit-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-moz-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-o-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-ms-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }